<!-- Container for the main page content -->
<div class="container">
  <!-- Top content section with welcome messages and buttons -->
  <div class="top-content">
    <!-- Welcome message for the restaurant -->
    <p> Bilkent Restoranına Hoş geldiniz</p>

    <!-- Header with a tagline or additional welcome message -->
    <header>En iyi aşçılar en kaliteli lezzetler</header>

    <!-- Informational text for the reservation button -->
    <p class="reservation-info">Giriş yapmak için tıklayınız</p>

    <!-- Button to navigate to the login page -->
    <button (click)="goToPage2()">Giriş Yap</button>

    <!-- Heading prompting for admin login -->
    <h2>Admin Girişi için buraya tıklayınız</h2>

    <!-- Button to navigate to the admin login page -->
    <button (click)="goToAdminGiris()" class="login-button">Admin Girişine Git</button>
  </div>
</div>
