# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
# Additional files and folders to ignore

# Backup or unnecessary files and folders
Frontend - Kopya/
Frontend eski/
Frontend eski.zip
Frontend/BotasStaj/
Menschen A1-1 KB [einfach.ir].pdf
Staj Degerlendirme Son.doc
Webdüzeltme - v*
33515_O_ulcan_KIRMIZIALTIN_SE499_InternReport_301396_519494461.docx
BotasStaj-WithBackendv1.zip

# Ignore other miscellaneous files
*.zip
*.pdf
*.doc
*.docx
